<div class="row">
    <h3 style="text-align:center">Data Entry Report </h3>
    <div class="col-md-4">
        <label>From Date</label>
        <input type="date" id="formdateinput" onchange="colorChange('#formdateinput')" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>To Date</label>
        <input type="date" id="todateInput" onchange="colorChange('#todateInput')" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Action</label>
        <input type="button" class="form-control btn btn-sm btn-success" value="Genrate Report" onclick="GetDataEntryReport()" />
    </div>
</div>
<br />
<div class="row" id="reportPartialView">

</div>

