<div class="row">
    <h3 style="text-align:center">Data Entry Report </h3>
    <div class="col-md-4">
        <label>From Date</label>
        <input type="date" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>To Date</label>
        <input type="date" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Action</label>
        <input type="button" class="form-control btn btn-sm btn-success" value="Genrate Report" />
    </div>
</div>
